/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color:  #a4c2d1; /* egg blue */
    
}

h1,h2,h2 {
    font-family: 'DM Serif Display', serif;
    color: #184f63; /* dark-blue */
}

/* Header Section */
#hero {
    background-color: #dbdcde; /* light grey */
    background-position: 50% 70%;
    background-size: cover;
    background-image: url("../Images/background.webp");
    min-height: 500px;
    padding: 5% 7%
}

/*About Section*/
#about {
    background-color: white;
}

/*portfolio section*/
#portfolio {
    background-color: #dbdcde; /* light grey */
}
/*contact section*/
#contact {
    background-color: white;
}