/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color:  #a4c2d1; /* egg blue */
    
}

h1,h2,h2 {
    font-family: 'DM Serif Display', serif;
    color: #184f63; /* dark-blue */
}

/* Header Section */
#hero {
    background-color: #dbdcde; /* light grey */
    background-position: 50% 70%;
    background-size: cover;
    background-image: url("../Images/background.webp");
    min-height: 500px;
    padding: 5% 7%
}

/* media queries*/

/* use Bootstap breakpoints for XL screens */
@media (min-width: 1200px) {
/*fixed all the portfolio cards being too tall on XL screens */
    #portfolio .card-text{
       min-height: auto;
    }

/*About Section*/
#about {
    background-color: white;
}

/*portfolio section*/
#portfolio {
    background-color: #dbdcde; /* light grey */
}

#portfolio .card-title {
    color: #1f7798; /* mid-blue */
    font-size: 1.2rem;
}

#portfolio.btn-outline-secondary:hover {
    background-color: #1f7798; /* mid-blue */
    
}

#portfolio.card-text {
    min-height: 120px;
}

/*contact section*/
#contact {
    background-color: white;
}